name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  setup:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version:
          - 14.x
          - 16.x
          - 18.x

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Setup
        run: yarn install

  build:
    runs-on: ubuntu-latest
    needs: ["setup"]
    strategy:
      matrix:
        node-version:
          - 14.x
          - 16.x

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Setup
        run: yarn install

      - name: Execute
        run: yarn build

  lint:
    runs-on: ubuntu-latest
    needs: ["setup"]
    strategy:
      matrix:
        node-version:
          - 14.x
          - 16.x

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Setup
        run: yarn install

      - name: Execute
        run: yarn lint

  typecheck:
    runs-on: ubuntu-latest
    needs: ["setup"]
    strategy:
      matrix:
        node-version:
          - 14.x
          - 16.x

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Setup
        run: yarn install

      - name: Execute
        run: yarn typecheck

  tests:
    runs-on: ubuntu-latest
    needs: ["setup"]
    strategy:
      matrix:
        node-version:
          - 14.x
          - 16.x

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
          cache: "yarn"

      - name: Setup
        run: yarn install

      - name: Tests
        run: yarn test
